<!DOCTYPE html>
<html>
<head>
  <title> {{ tournament }} </title>
  <link rel="shortcut icon" type="image/png" href="../favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src="../js/filloutBracket.js"></script>
  <style>
    .player {
      font-size: {{ cellheight*0.6 }}px;
      font-family: Arial, Helvetica, sans-serif;
      width: {{ hspace }}px;
      height: {{ cellheight }}px;
      text-align: left;
      padding-left: {{ hspace*0 }}px;
      border-bottom: {{ linewidth }}px solid black;
      border-radius: 0px;
      background-color: transparent;
      overflow: hidden;
    }
    .line {
      border-left: {{ linewidth }}px solid black; 
    }
    select {
      height: {{ cellheight }}px;
      width: {{ hspace }}px;
      font-size: {{ cellheight*0.6 }}px;
    }
  </style>
</head>
<body onLoad="loadFillout()">
<div class="container">
  <h1><a href="../"> Home </a></h1>
  <h2> {{ tournament }} </h2>
  <nav class="navbar navbar-default border-primary">
    <ul class = "nav navbar-nav">
      <li><a href="./"> Cuadros </a></li>
      <li><a href="./table.html"> Tabla de posiciones </a></li>
      <li class="active"><a href="./submit.html"> Crear cuadro </a></li>
      <li><a href="./inputResults.html"> Reportar resultados </a></li>
    </ul>
  </nav>
  <div class="bracket_container" style="position:relative;height:{{bracketSize/2*vspace}}px">
      <div id="bracket-size" style="display: none"> {{ bracketSize }} </div>
  {% for j in range(rounds) %}
    {% for i in range((bracketSize/(2**j)) | int) %}
      {%- if i < bracketSize/(2**(j+1)) %}
        {%- if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
    <div class="line" style="position: absolute; left:{{ (j+1)*hspace }}px;top:{{ i*vspace*(2**j) + vspace*(2**(j-1) - 1/2) + cellheight }}px;height: {{ vspace*(2**j) + linewidth }}px"> </div>
        {% endif %}
    <div class="player" id="p{{ counter[j] + i }}" style="position: absolute;left:{{ j*hspace }}px;top:{{ i*vspace*(2**j) + vspace*(2**(j-1) - 1/2) }}px"> 
      <select id = "select{{ counter[j] + i }}" onchange="update_options({{ counter[j] + i }})">
        <option></option>
      </select>
    </div>
        {% else %}
          {% if i%2 == 0 and j<rounds-1 %}{# draw the lines between players in a match #}
    <div class="line" style="position: absolute; left:{{ hspace * (2*rounds - j) }}px;top:{{ (i-bracketSize/(2**(j+1)))*vspace*(2**j) + vspace*(2**(j-1) - 1/2) + cellheight }}px;height: {{ vspace*(2**j) + linewidth }}px"> </div>
          {% endif %}
    <div class="player" id="p{{ counter[j] + i }}" style="position: absolute;left:{{ hspace * (2*rounds - j) }}px;top:{{ (i-bracketSize/(2**(j+1)))*vspace*(2**j)  + vspace*(2**(j-1) - 1/2) }}px"> 
      <select id = "select{{ counter[j] + i }}" onchange="update_options({{ counter[j] + i }})">
        <option></option>
      </select>
    </div>
        {% endif %}
    {% endfor %}
  {% endfor %}
    <div class="line" style="position: absolute; left:{{ rounds*hspace }}px;top: {{ vspace*(2**(rounds-2) - 2) + cellheight }}px;height: {{ 1.5*vspace+linewidth }}px"> </div>
    <div class="line" style="position: absolute; left:{{ (rounds+1)*hspace }}px;top:{{ vspace*(2**(rounds-2) - 2) + cellheight }}px;height: {{ 1.5*vspace+linewidth }}px"> </div>
    <div class="player" id="p{{ counter[rounds] }}" style="position: absolute;left:{{ (rounds)*hspace }}px;top:{{ vspace*(2**(rounds-2) - 2) }}px;text-align: center"> 
      <select id = "select{{ counter[rounds] }}">
        <option></option>
      </select>
    </div>
    <div id="userinfo-container" style="position: absolute; left: {{ (rounds-1)*hspace }}px; top: {{ vspace*(2**(rounds-2) - 5) }}px;width: {{ 3*hspace }}px; height: {{ vspace }}px; text-align: center"> 
      <label for="user-name"> Usuario: </label>
      <input type="text" id="user-name" name="user-name">
      <button onclick="save_bracket()"> Descargar </button>
    </div>
  </div>
</body>
</html>


